@import "tailwindcss";

@theme {
    --font-poppins: 'Poppins', sans-serif;
    --font-monserrat: 'Monserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}